[gcode_macro _HOME_X]
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc5160 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc5160 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.65 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home X
    G28 X
    # Move away
    G91
    G1 X0 F1200

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000

    # Set current back to normal
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    G90

[gcode_macro _HOME_Y]
gcode:
    # Set current for sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc5160 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc5160 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.65 %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    # Home Y
    G28 Y
    # Move away
    G91
    G1 Y0 F1200

    # Wait just a second… (give StallGuard registers time to clear)
    G4 P1000

    # Set current back to normal
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}
    G90

[homing_override]
axes: xyz
set_position_z: 0
gcode:
    {% set config = printer['configfile'].config %}

    # Bed mesh must be cleared prior to homing
    {% if 'bed_mesh' in config %}
        {% if printer.bed_mesh.profile_name %}
            {% set lastMeshProfile = printer.bed_mesh.profile_name %}
        {% endif %}
        BED_MESH_CLEAR
    {% endif %}

    # Reset parameters
    {% set requested = {'x': False, 'y': False, 'z': False} %}

    # Determine which axes to home
    {% if not 'X' in params and not 'Y' in params and not 'Z' in params %}
        {% set X, Y, Z = True, True, True %}
    {% else %}
        {% if 'X' in params %}
            {% set X = True %}
            {% set null = requested.update({'x': True}) %}
        {% endif %}
        {% if 'Y' in params %}
            {% set Y = True %}
            {% set null = requested.update({'y': True}) %}
        {% endif %}
        {% if 'Z' in params %}
            {% set Z = True %}
            {% set null = requested.update({'z': True}) %}
        {% endif %}
    {% endif %}

    # Home X
    {% if X %}
        _HOME_X
    {% endif %}

    # Home Y
    {% if Y %}
        _HOME_Y
    {% endif %}

    # Home Z
    {% if Z %}
        G90
        G0 Z5 F600
        # Move to center of bed (X=172, Y=180) before Z homing
        G0 X172 Y180 F6600
        G28 Z
        G0 Z10 F3600
        # Return to center after homing
        G0 X172 Y180 F6600
    {% endif %}