#####################################################################
# This file contains common pin mappings for the Voron Leviathan V1.1
# To use this config, the firmware should be compiled for the STM32F446 with "No bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# See docs/Config_Reference.md for a description of parameters.

## Voron Design VORON 2 250/300/350mm Leviathan V1.1 config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Z Endstop Switch location            [safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section
#####################################################################

########################################
# MCU / Basic I/O
########################################
[mcu]
canbus_uuid: 631bfd3793ba


[respond]
default_type: echo

[force_move]
enable_force_move: True

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

########################################
# Includes – macros, UI, sensors, etc.
########################################
[include mainsail.cfg]
[include macros.cfg]
[include toolhead_leds.cfg]
[include timelapse.cfg]
[include bedfans-dualcontrol.cfg]
[include config_backup.cfg]
#[include AFC/*.cfg]
#[include ebb36-gen2.cfg]

#####################################################################
#   Exclude object
#####################################################################

[exclude_object]

########################################
# Temperature Sensors
########################################
[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor chamber]
sensor_type: Generic 3950
pullup_resistor: 2200
sensor_pin: PA2
min_temp: 0
max_temp: 100
gcode_id: C

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

########################################
# Printer Settings
########################################
[printer]
kinematics: corexy
max_velocity: 400
max_accel: 8000
max_z_velocity: 15
max_z_accel: 500
square_corner_velocity: 5.0
minimum_cruise_ratio: 0.5


########################################
# Autotune – Stepper Motors
########################################
[autotune_tmc stepper_x]
motor: omc-17hs19-2504s-h
tuning_goal: performance
voltage: 48

[autotune_tmc stepper_y]
motor: omc-17hs19-2504s-h
tuning_goal: performance
voltage: 48

[autotune_tmc stepper_z]
motor: moons-ms17hd6p420i
tuning_goal: silent
voltage: 24

[autotune_tmc stepper_z1]
motor: moons-ms17hd6p420i
tuning_goal: silent
voltage: 24

[autotune_tmc stepper_z2]
motor: moons-ms17hd6p420i
tuning_goal: silent
voltage: 24

[autotune_tmc stepper_z3]
motor: moons-ms17hd6p420i
tuning_goal: silent
voltage: 24

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg-9T
tuning_goal: silent
voltage: 24

########################################
# Shake&Tune
########################################
[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 10
keep_raw_data: False
show_macros_in_webui: True
timeout: 600
measurements_chunk_size: 2
max_freq: 200
dpi: 300

######################################
# EBB36
########################################
[mcu EBB]
canbus_uuid: 7069dd9adb99

[temperature_sensor EBB36]
sensor_type: Generic 3950
sensor_pin: EBB:PA0
pullup_resistor: 2200

[extruder]
#control: mpc
heater_power: 65  
cooling_fan: fan
filament_diameter: 1.75
filament_density: 1.20
filament_heat_capacity: 1.8 

step_pin: EBB:PB14
dir_pin: !EBB:PA8
enable_pin: !EBB:PB6
microsteps: 16
rotation_distance: 47.088
gear_ratio: 9:1
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB:PB4
sensor_type: PT1000
pullup_resistor: 2200
sensor_pin: EBB:PA3
min_temp: 0
max_temp: 350
min_extrude_temp: 190
max_extrude_cross_section: 50.0
max_extrude_only_distance: 200
pressure_advance: 0.04
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: EBB:PB3            # according to your wiring
run_current: 0.6             # for LDO motor 36STH20-1004AGH
sense_resistor: 0.110        # correct value for EBB36 GEN2
stealthchop_threshold: 0     # StealthChop disabled → full torque
interpolate: true           # use exact microsteps as configured (16)

[fan]
pin: EBB:PD3 
kick_start_time: 0.5

[heater_fan hotend_fan]
pin: EBB:PD2 #[PD2]
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
tachometer_pin: EBB:PA4
tachometer_ppr: 2
tachometer_poll_interval: 0.0009

########################################
# Scanner / Cartographer
########################################
[mcu cartographer]
# Remove either the serial or canbus_uuid line dependant on your setup.
canbus_uuid: a6811771c2f5
#is_non_critical: True
#   Setting this to True will allow the mcu to be disconnected and
#   reconnected at will without errors. Helpful for USB-accelerometer boards
#   and USB/CAN-probes

[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 22
verbose: no # For extra output

[safe_z_home]
home_xy_position: 172,180  
speed: 80
z_hop: 5                   
z_hop_speed: 30
move_to_previous: False

########################################
# ADXL / Resonance Tester
########################################
[adxl345]
cs_pin: cartographer:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
  175,175,20
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0

########################################
# SHAPER / Input Shaper
########################################
[input_shaper]
shaper_freq_x: 62.2
shaper_type_x: mzv
shaper_freq_y: 46.2
shaper_type_y: mzv

########################################
# X/Y Steppers – Sensorless Homing
########################################
[stepper_x]
step_pin: PB10
dir_pin: !PB11
enable_pin: !PG0
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_endstop: 347
position_max: 347
homing_speed: 90
homing_positive_dir: true
use_sensorless_homing: true
min_home_dist: 5

[tmc5160 stepper_x]
cs_pin: PE15
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
spi_software_sclk_pin: PE12
interpolate: True
diag0_pin: ^!PG1
driver_SGT: 1
run_current: 1.2
home_current: 0.56
current_change_dwell_time: 0.5
sense_resistor: 0.075
stealthchop_threshold: 0

[stepper_y]
step_pin: PF15
dir_pin: !PF14
enable_pin: !PE9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: 0
position_endstop: 360
position_max: 360
homing_speed: 90
homing_retract_dist: 0
homing_positive_dir: true
use_sensorless_homing: true
min_home_dist: 5

[tmc5160 stepper_y]
cs_pin: PE11
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
spi_software_sclk_pin: PE12
interpolate: True
diag0_pin: ^!PE10
driver_SGT: 1
run_current: 1.2
home_current: 0.56
current_change_dwell_time: 0.5
sense_resistor: 0.075
stealthchop_threshold: 0

########################################
# Z Steppers
########################################
[stepper_z]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD7
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0
position_min: -5
position_max: 330
homing_speed: 8
second_homing_speed: 3

[tmc2209 stepper_z]
uart_pin: PD5
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: PC12
dir_pin: PC11
enable_pin: !PD2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PD0
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PC10
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PA8
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z3]
step_pin: PG7
dir_pin: PG6
enable_pin: !PC7
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PG8
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

########################################
# Bed Heater
########################################
[heater_bed]
##  SSR Pin - HEATBED
##  Thermistor - TH1
heater_pin: PG11
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PA1
pullup_resistor: 2200
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.75
min_temp: 0
max_temp: 120

########################################
# Fans
########################################
#[controller_fan controller_fan]
##  Controller fan - FAN2
#pin: PF9
##tachometer_pin: PF6
#kick_start_time: 0.5
#max_power: 0.25
#heater: heater_bed

[temperature_fan electronics]
pin: PF9
sensor_type: temperature_host

control: curve
min_temp: 0
max_temp: 100
target_temp: 75
min_speed: 0.25

points:
  30, 0.25
  50, 0.5
  65, 0.75
  75, 1.0

cooling_hysteresis: 3

########################################
# Filament Sensor
########################################
#[filament_switch_sensor Filament]
#pause_on_runout: True
#runout_gcode: M600
#insert_gcode:
#  event_delay: 3.0
#  pause_delay: 0.5
#switch_pin: !PC0

########################################
# LED / Caselight
########################################
[output_pin caselight]
pin: PE6
pwm: true
hardware_pwm: False
value: 0.20
shutdown_value: 0
cycle_time: 0.00025

########################################
# Quad Gantry Level
########################################
[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
##  Probe points
points:
   50,25
   50,275
   300,275
   300,25
   
speed: 300
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

########################################
# Bed mesh
########################################
[bed_mesh]
zero_reference_position: 175, 175 # The centre of your bed. 
speed: 300
horizontal_move_z: 3
mesh_min: 40, 40 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 310, 288 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 20, 20
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

########################################
# Idle Timeout
########################################
[idle_timeout]
timeout: 1800

########################################
# Display / EXP1 & EXP2 Pins
########################################
[board_pins]
aliases:
  # EXP1 header
  EXP1_1=PG9, EXP1_2=PG12,
  EXP1_3=PG13, EXP1_4=PG14,
  EXP1_5=PC13, EXP1_6=PC14,
  EXP1_7=PC15, EXP1_8=PF0,
  EXP1_9=<GND>, EXP1_10=<5V>,
  # EXP2 header
  EXP2_1=PA6, EXP2_2=PA5,
  EXP2_3=PE2, EXP2_4=PE4,
  EXP2_5=PE3, EXP2_6=PA7,
  EXP2_7=PE5, EXP2_8=<RST>,
  EXP2_9=<GND>, EXP2_10=PE4

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 210.00
#*# pid_tolerance = 0.0200
#*# pid_kp = 21.180
#*# pid_ki = 3.959
#*# pid_kd = 28.327
#*# control = mpc
#*# block_heat_capacity = 8.89893
#*# sensor_responsiveness = 0.104602
#*# ambient_transfer = 0.0700044
#*# fan_ambient_transfer = 0.0700044, 0.0798734, 0.0865733, 0.0905317, 0.0913484, 0.0987675, 0.0980981
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 36.758
#*# pid_ki = 1.156
#*# pid_kd = 292.228
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.3796207664290339,1.85048969474367,0.8255479339645193,0.39139924130705894,0.5563773345585071,0.6538492794078022,-0.41254556775123297,-0.6516130457804105,0.4513058302152912,0.45715433653186144
#*# domain = 3.1338885607535434e-07,3.320477016393182e-07
#*# z_offset = 0
#*# reference_temperature = 23.8
#*# software_version = 1.5.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1491
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.5.0
#*# mcu_version = CARTOGRAPHER V3 6.1.0
